@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    House-15, Block-B, Road-12<br />
    Mirpur-10, Dhaka-1216<br />
    <abbr title="Phone">Cell Phone: </abbr>
    +8801749937472
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:al.imran.04.120@gmail.com">al.imran.04.120@gmail.com</a><br />
    
</address>