@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Employee Management System</h1>
    <p class="lead">For maintaing employee informations of a small scale business</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This app gives business owner a powerful, patterns-based way to maintain employee informations
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more about the company &raquo;</a></p>
    </div>
</div>